.App {
  text-align: center;
  background: #241f17;
  width: 100vw;
  height: 100vh;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
